* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
}
/* sections starts here */
.sections {
  position: relative;
  background: rgba(2, 2, 2, 0.6);
  /* height: 650px; */
}

.section-one {
  z-index: -9;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-position: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(2, 2, 2, 1);

  height: 60%;
  /* background: transparent; */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0,
      transparent 40%,
      transparent 75%,
      rgba(0, 0, 0, 0.1)
    ),
    url("./images/NG-en-20230227-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

nav {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.sigin {
  padding: 10px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  border: none;
}
.story {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  color: #fff;
  /* max-width: 950px; */
  padding: 3rem 0;
  text-align: center;
  margin: 4rem auto;
}
.story h1 {
  font-size: 3rem;
  font-weight: 200;
  max-width: 650px;
}
.story h2 {
  max-width: 640px;
  font-weight: 100;
  /* letter-spacing: 1px; */
}
/* .story {
  margin: 10rem auto;
 
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
} */

input {
  padding: 17px;
  width: 60%;
  border: none;
  font-size: 17px;
}
.form-control {
  margin: 3rem auto;
}
.form-control h3 {
  margin: 10px;
  font-weight: 100;
}
.get-started {
  margin-left: -4px;
  padding: 17px;
  background-color: #e50914;
  color: #fff;
  border: none;
  width: 24%;

  font-size: 17px;
  font-weight: 600;
}
/* sections ends here */
/* section two */
.section-two {
  background-color: #000000;
  color: #fff;

  width: 100%;
  /* height: 500px; */
  position: relative;
}
.section-wrapper {
  width: 90%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.section-two h1 {
  font-size: 3.1rem;
  line-height: 1.1;
  margin-bottom: 3rem;
}
.section-two h2 {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 529px;
}

.img-tv {
  position: relative;
  z-index: 2;
}
.tv-img {
  height: 34%;
  left: 75%;
  max-height: 54%;
  max-width: 72%;
  position: absolute;
  top: 36%;
  transform: translate(-50%, -50%);
  width: 298px;
}
/* section-two ends here */

/* section-three starts here */
.section-three {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;

  /* height: 500px; */
}
.Download {
  width: 57%;
}

.section-three-wrapper {
  width: 91%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding-bottom: 2.4rem;
}
.box {
  height: 94px;
  width: 310px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 202px;
  left: 51px;
  background: #000000;
}
/* section-three ends here */
/* section four starts here */
.section-four {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: auto;
}
.section-four-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 5rem;
  width: 55%;
}
/* section four ends here */
/* section five starts here */
.section-five {
  background-color: #000000;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Download h1 {
  font-size: 3rem;
}
.overall {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-five-wrapper {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* section five ends here */
/* FAQ starts here */

.FQA {
  background-color: #000000;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.overall-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #000000;
  color: #fff;
  width: 100%;
  display: flex;
}
.overall-footer {
  width: 100%;
  display: flex;
  font-weight: 100;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  color: rgb(170, 167, 167);
}
.overall-f {
  width: 100%;
}
.overall-footer p {
  padding: 10px;
  font-size: 16px;
}
/* FAQ ends  here */
@media screen and (max-width: 900px) {
  .section-five-wrapper,
  .section-four-wrapper,
  .section-wrapper {
    flex-wrap: wrap;
  }
  .overall {
    padding-top: 2rem;
  }
  .section-three {
    /* padding: 4rem; */
    width: auto;
  }
  .section-three-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
  }
  .Download {
    width: 80%;
  }
  .Download h1 {
    font-weight: 300;
  }
  .tv-img {
    top: 75%;
    left: 269px;
  }
  .box {
    left: 173px;
    top: 75%;
  }
}

@media screen and (max-width: 600px) {
  .get-started {
    width: 40%;
    padding: 14px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 1rem;
  }
  .story h1 {
    font-size: 2rem;
  }
  .section-wrapper h1 {
    font-size: 2rem;
  }
  .section-wrapper h2 {
    font-size: 1rem;
    font-weight: 200;
  }
  .Download h1 {
    font-size: 2rem;
  }
  .Download h2 {
    font-size: 1rem;
  }
  .box {
    left: 96px;
    top: 333px;
  }
  .section-two h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .tv-img {
    top: 59%;
    left: 254px;
  }
}
@media screen and (max-width: 440px) {
  .img-tv {
    right: 20%;
  }
  .tv-img {
    left: 44%;
    top: 66%;
  }
  .box {
    left: 15%;
    top: 72%;
  }
  .section-four-wrapper {
    /* width: 100%; */
  }
  .section-four-wrapper h3 {
    font-weight: 100;
    font-size: 17px;
    width: 300px;
  }
  .section-five-wrapper h3 {
    width: 100%;
  }
  .section-five-wrapper h {
    font-size: 1.5rem;
  }
  nav {
    padding: 1rem 0.5rem;
  }
}
