* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* sections starts here */
.sections {
  position: relative;
  background: rgba(2, 2, 2, 0.6);
  /* height: 650px; */
}

.section-one {
  z-index: -9;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-position: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(2, 2, 2, 1);

  height: 60%;
  /* background: transparent; */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0,
      transparent 40%,
      transparent 75%,
      rgba(0, 0, 0, 0.1)
    ),
    url("./images/NG-en-20230227-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.sigin {
  padding: 16px;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  border: none;
}
.story {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  /* max-width: 950px; */
  padding: 3rem 0;
  text-align: center;
  margin: 4rem auto;
}
.story h1 {
  font-size: 3rem;
  max-width: 650px;
}
.story h2 {
  max-width: 640px;
  /* letter-spacing: 1px; */
}
/* .story {
  margin: 10rem auto;
 
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
} */

input {
  padding: 25px;
  width: 550px;
  border: none;
  font-size: 17px;
}
.form-control {
  margin: 3rem auto;
}
.form-control h3 {
  margin: 10px;
}
.get-started {
  margin-left: -4px;
  padding: 25px;
  background-color: #e50914;
  color: #fff;
  border: none;
  width: 200px;

  font-size: 17px;
  font-weight: 600;
}
/* sections ends here */
/* section two */
.section-two {
  background-color: #000000;
  color: #fff;

  width: 100%;
  height: 500px;
  position: relative;
}
.section-wrapper {
  width: 90%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.section-two h1 {
  font-size: 3.1rem;
  line-height: 1.1;
  margin-bottom: 3rem;
}
.section-two h2 {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 529px;
}

.img-tv {
  position: relative;
  z-index: 2;
}
.tv-img {
  height: 34%;
  left: 76%;
  max-height: 54%;
  max-width: 73%;
  position: absolute;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 290px;
}
/* section-two ends here */

/* section-three starts here */
.section-three {
  background-color: #000000;
  color: #fff;

  width: auto;
  /* height: 500px; */
}
.section-three-wrapper {
  width: 85%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem 1rem 0;
}
.box {
  height: 94px;
  width: 310px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 202px;
  left: 51px;
  background: #000000;
}
/* section-three ends here */
/* section four starts here */
.section-four {
  background-color: #000000;
  color: #fff;

  width: auto;
}
.section-four-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 5rem;
  width: 50%;
}
/* section four ends here */
